apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: msa
spec:
  type: ClusterIP
  selector:
    app: product-service
  ports:
    - name: http
      port: 8081
      targetPort: 8081

