apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: msa
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - name: http
      port: 8083        # 클러스터 내부에서 접근하는 포트
      targetPort: 8083  # Spring Boot 내부 실행 포트
