apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: msa
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: api-gateway
          image: gaeul/api-gateway:latest
          ports:
            - containerPort: 8000
