apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: msa
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - name: http
      port: 80
      targetPort: 8000
      nodePort: 30080
