apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: msa
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
    - name: http
      port: 8082
      targetPort: 8082
