name: product-service CI

on:
  push:
    branches: [ dev ]
    paths:
      - "product-service/**"
  pull_request:
    branches: [ dev ]
    paths:
      - "product-service/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"

      - name: Build with Gradle
        working-directory: ./product-service
        run: ./gradlew clean build

      - name: Docker build
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/product-service:${{ github.sha }} ./product-service

      - name: Docker push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/product-service:${{ github.sha }}
