apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: msa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: config-server
          image: gaeul/config-server:latest
          ports:
            - containerPort: 8888
