name: MSA CI Pipeline

on:
  push:
    branches: [ dev ]
    paths:
      - "api-gateway/**"
      - "product-service/**"
      - "order-service/**"
      - "user-service/**"
      - "config-server/**"
      - "discovery-server/**"
      - "common/**"
  pull_request:
    branches: [ dev ]
    paths:
      - "api-gateway/**"
      - "product-service/**"
      - "order-service/**"
      - "user-service/**"
      - "config-server/**"
      - "discovery-server/**"
      - "common/**"

jobs:

  #########################################
  # API-GATEWAY
  #########################################
  api_gateway:
    if: contains(github.event.head_commit.message, 'api-gateway') || contains(join(fromJSON(toJSON(github.event.commits.*.modified)), ','), 'api-gateway/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: "17"

      - name: Grant execute permission for gradlew
        run: chmod +x api-gateway/gradlew

      - name: Build API Gateway
        working-directory: ./api-gateway
        run: ./gradlew clean build

      - name: Docker build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/api-gateway:${{ github.sha }} ./api-gateway

      - name: Docker push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/api-gateway:${{ github.sha }}

  #########################################
  # PRODUCT SERVICE
  #########################################
  product_service:
    if: contains(join(fromJSON(toJSON(github.event.commits.*.modified)), ','), 'product-service/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: "17"

      - name: Grant execute permission
        run: chmod +x product-service/gradlew

      - name: Build Product Service
        working-directory: ./product-service
        run: ./gradlew clean build

      - name: Docker build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/product-service:${{ github.sha }} ./product-service

      - name: Docker push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/product-service:${{ github.sha }}

  #########################################
  # ORDER SERVICE
  #########################################
  order_service:
    if: contains(join(fromJSON(toJSON(github.event.commits.*.modified)), ','), 'order-service/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: "17"

      - name: Grant execute permission
        run: chmod +x order-service/gradlew

      - name: Build Order Service
        working-directory: ./order-service
        run: ./gradlew clean build

      - name: Docker build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/order-service:${{ github.sha }} ./order-service

      - name: Docker push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/order-service:${{ github.sha }}

  #########################################
  # USER SERVICE
  #########################################
  user_service:
    if: contains(join(fromJSON(toJSON(github.event.commits.*.modified)), ','), 'user-service/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: "17"

      - name: Grant execute permission
        run: chmod +x user-service/gradlew

      - name: Build User Service
        working-directory: ./user-service
        run: ./gradlew clean build

      - name: Docker build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/user-service:${{ github.sha }} ./user-service

      - name: Docker push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/user-service:${{ github.sha }}

  #########################################
  # CONFIG-SERVER
  #########################################
  config_server:
    if: contains(join(fromJSON(toJSON(github.event.commits.*.modified)), ','), 'config-server/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Config Server
        working-directory: ./config-server
        run: ./gradlew clean build

  #########################################
  # DISCOVERY-SERVER
  #########################################
  discovery_server:
    if: contains(join(fromJSON(toJSON(github.event.commits.*.modified)), ','), 'discovery-server/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Discovery Server
        working-directory: ./discovery-server
        run: ./gradlew clean build
